name: gap_widgets
description: Gap, MaxGap, and SliverGap widgets for spacing in Flex layouts (Row, Column, Wrap) and scrollable views. Auto-detects direction, supports cross-axis control and colors.
version: 0.0.1
homepage: https://github.com/muhammadkamel/gap_widgets
repository: https://github.com/muhammadkamel/gap_widgets

environment:
  sdk: ^3.10.3

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_lints: ^6.0.0
  flutter_test:
    sdk: flutter
